// Styling for the contact section
section#souper {
  background-color: $gray-900;
  background-image: url("#{$contact-image}");
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("#{$contact_image}");
  background-size: cover;
  background-position: center;
  .section-heading {
    color: $primary;
  }
  .section-subheading {
    color: white;
    font-weight: bold;
    
    backdrop-filter: blur(10px);
    border-radius:10px;
    font-size: x-large;
    @include heading-font;
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 248px;
    }
  }
  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
}
